{{>layout/header}}
<br>
<h1><center>OAuth2 게시판</center></h1>
<div class="col-md-12">
  <br>
<!--  userName이 있으면: #userName-->
  {{#userName}}
      <img style="border-radius: 70%" src="{{picture}}" alt="pp" width="32" height="32">
      <span id="user">{{userName}}</span> 님, 안녕하세요! <br><br>
    <a href="/logout" class="btn btn-info active" role="button">로그아웃</a><br><br>
  {{/userName}}
<!--  userName이 없으면: ^userName-->
  {{^userName}}
    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">로그인</a><br><br>
  {{/userName}}
  <!-- 글 목록 -->
  <table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
      <th>글번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>등록/수정일</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#posts}}
      <tr>
        <td>{{id}}</td>
        <td><a href="/posts/update/{{id}}">{{title}}</a></td>
        <td>{{author}}</td>
        <td>{{modifiedDate}}</td>
        <td>{{view}}</td>
      </tr>
    {{/posts}}
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-6">
      <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
    </div>
  </div>
</div>

{{>layout/footer}}